h1
{
    color:pink;
    font-size: 50px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    text-align: center;


}

a 
{
    color:#a134d3;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;    
}

p
{
    color:#a134d3;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;    
}

.button 
{
    color:#a134d3;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;  
    background-color: pink; 
    border-radius: 50%;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
}