/* notice that the animation is seperate
from the element that it is animating
(unlike transitions and transfroms) */

/* This is the animation. It can be 
Applied to any element we want. */
@keyframes animation1 
{
    from { background-color:white; }
    to   { background-color:teal;  }
}


@keyframes animation2 
{
    0%  { background-color:white;    }
    12% { background-color:teal;     }
    23% { background-color: #f442b3; }
    37% { background-color: #9241f4; }
    67% { background-color: #f9f570;  
          border-radius: 50%           }
    80% { background-color: khaki;   }
    90% { background-color: #f99f70; }
   100% { background-color: #fc7b37; }


}


.code 
{
    font-family: 'Courier New', Courier, monospace;
    color: teal;
}

p 
{
    color:#a134d3;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;    
}

.div1 
{
    width: 175px;
    height: 300px;
    background-color:purple;
    animation-name: animation1;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}

.div2
{
    width: 300px;
    height: 300px;
    background-color:white;
    animation-name: animation2;
    animation-duration: 10s;
    border-radius: 5px;
    animation-iteration-count:10;
}

h1
{
   font-family: Impact, Charcoal, sans-serif;
   color:#442463; /*PURPLE*/
   text-align:center;
   background-color:teal;
   font-size: 70px;
   text-shadow: 2px 2px #245d63; /*dark teal*/ 

}

.wrap {
    text-align: center;
}