h1 {
    color:teal;
    font-family: "Brush Script MT", cursive;
    text-align: center;
    font-size: 70px;
}

h2 {
    color:teal;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-size:30px;
    
}

h3 {
    color:teal;
    font-family: cursive;
    font-size:20px;
}

p {
    color:teal;
    font-family: cursive;
    font-size:15px;
}

.circleButton {
    display: inline-block;
    border-radius: 50%;
    font-family: cursive;
    color: teal;
    background-color: khaki;
    width: 150px;
    height: 150px;
    border:none;
    font-weight: bold;
}


/*GRID*/
.grid-container 
{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px;
}
.grid-item 
{
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.small-grid
{
   display: grid;
   grid-template-columns:auto auto auto auto;
   padding: 5px;
}

.small-grid-item 
{
  padding: 5px;
  font-size: 14px;
  text-align: center;
}

.small-grid-item a
{
   font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
   font-size: 14px;
}
/*END OF GRID*/


.center {
    text-align: center;
}
